.table-cart{
    text-align: center;
    border: 0.5px solid #000;
}
.a-row-item:hover{
    background-color: rgba(166, 196, 169, 0.28);
}
#col-delete-cart{
    width: 5%;
}
#col-total-cart{
    width: 25%;
}
#col-price-cart{
    width: 15%
}
#col-name-product-cart{
    width: 35%;
}
#col-quantity-cart{
    width: 10%;
}
.product-cart{
    padding: 10px;
}
.remove-icon-cart{
    width: 100%;
    cursor: pointer;
}
.img-item-cart{
    width: 25%;
    float: left;
}
.name-item-cart{
    text-align: left;
    padding-left: 30%;
    color: #000;
}
.name-item-cart:hover{
    text-decoration-line: underline;
}
.list-product-cart{
    min-height: 300px;
    margin-top: 50px;
}
#number-cart{
    width: 30px;
    text-align: center;
    height: 20px;
    font-size: 17px;
}
.btn-pay-cart {
    background-color: #000;
    color: #e5dde9;
    font-size: 17px;
    padding: 7px;
    width: 130px;
    border: 0.5px solid green;
    margin-top: 40px;
    float: right;
}
.btn-pay-cart:hover{
    color: #fff;
    border: 1px solid green;
    cursor: pointer;

}
