.table-location{
    text-align: center;
    border: 0.5px solid #000;
}
.a-row-item-location a:hover{
    background-color: black;
}
.a-row-item-location a:visited{
    background-color: black;
}
#col-order-id-location{
    width: 25%;
}
#col-date-location{
    width: 25%;
}
#col-totally-paid-location{
    width: 25%;
}
#col-shipping-code-location{
    width: 25%;
}
tr:hover{
    background-color: red;
}
