.img-product-detail{
    width: 35%;
    float: left;
    margin: 50px 40px 50px 50px;
}
.main-info-product form{
    border: 2px dashed green;
    color: #000;
    padding-left: 20px;
    background-color: rgba(82, 255, 160, 0.12);
}
.some-main-info-product{
    float: left;
    width: 50%;
}
.cart-detail>img{
    width: 9%;
    margin-left: 30px;
    position: relative;
    top: 22px;
}
.btn-add-cart-detail{
    height: 50px;
    background-color: #000;
    color: #e5dde9;
    font-size: 20px;
    padding: 10px;
    border: 1px solid green;
    
}
.btn-add-cart-detail:hover{
    color: #fff;
    border: 2px solid green;
}
.name-product-detail{
    font-size: 23px;
    font-weight: 600;
    padding-top: 20px;
    height: 80px;
    margin-bottom: 0px;
}
.name-product-detail:hover{
    text-decoration: underline;
}
.quantity-detail p{
    font-size: 20px;
    font-weight: 500;
}
#number-product{
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 50px;
    border: 1px solid green;
    border-radius: 40%/50%
}
.detail-info-product{
    margin: 20px 0;
}
.content {
    border: 2px solid #000;
    font-size: 17px;
    padding: 40px 70px;
    text-align: justify;
}
.content legend{
    font-style: oblique;
    font-weight: 700;
}
.arrow-decre-detail, .arrow-incre-detail {
    width: 20px;
}

.number-product-detail {
    font-size: 28px;
    margin: 0 5px;
}

.container-total-detail {
    width: 90%;
    float: left;
    border-bottom: 2px solid green;
}

#txt-total-detail {
    font-size: 20px;
    float: left;
    font-style: oblique;
    font-weight: 600;
    margin-bottom: 10px; 
}

#total-detail {
    font-size: 27px;
    font-weight: 600;
    margin-left: 30px;
    float: left;
    margin-right: 20px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.price-sales {
    color: green;
    font-weight: 600;
    font-size: 27px;
    float: left;
    margin-top: 13px;
    margin-bottom: 10px;
}



.line-detail {
    border: 1px solid green;
}

.quantity-detail {
    margin-top: 20px
}
.arrow-incre{
    width: 20px;
    height: 20px;
}
.arrow-decre{
    width: 20px;
    height: 20px;
}
