.main h3{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.form-register{
    text-align: center;
}

.form-register div{
    margin-bottom: 10px;
}

.form-register div label{
    margin-bottom: 5px;
    font-weight: bold;
}

.form-register div input{
    border-radius: 6px;
    font-size: 20px;
}

.button button{
  
  background-color: #000000; 
   border: 2px solid #000000; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    padding: 10px 24px;
  font-size: 15px;
    border-radius: 12px;
}

.button button:hover {
  background-color: #FFFFFF; 
  color: black;
}


.news-register {
    text-align: center;
    margin-bottom: 40px;
}

.news-register p{
    font-weight: bold;
}

.news-register input{
    border-radius: 12px;
    padding: 5px 5px
}

.news-register button{
    background-color: #000000;
    color: white;
    border-radius: 12px;
    border: 2px solid #000000; 
    font-size: 15px;
    padding: 10px 12px
}

.news-register button:hover{
    background-color: #FFFFFF; 
    color: black;
}
