@import 'login-style.css';
@import 'header-footer-tyle.css';
@import 'signup.css';
@import 'home.css';
@import 'make-up.css';
@import 'our-story.css';
@import 'contact-us.css';
@import 'faq.css';
@import 'help-center.css';
@import 'cart.css';
@import 'modify-cancel-order.css';
@import 'detail-info-product.css';
@import 'check-order.css';
@import 'my-account.css';
@import 'giao-hang.css';
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    color: #e5dde9;
    font-family: "Open sans", Arial;
}
main{
    padding: 10px;
    min-height: 400px;
}
.container{
    min-height: 400px;
}
