#btn-end-don-hang {
    width: 180px;
    font-size: 17px;
    height: 42px;
    border-radius: 0;
    background-color: #000;
    color: #e5dde9;
    float: right;
    margin-bottom: 20px;
}
#btn-end-don-hang:hover {
    color: #fff;
    height: 43px;
}
.phuong-thuc ul, pay ul {
    list-style: none;
}
.lbl-container, .lbl-container-pay {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    z-index: 100;
}
.van-chuyen ul{
    height: 100px;
}
.van-chuyen ul li{
    height: 50px;
}
.van-chuyen ul li p{
    text-align: right;
    font-size: 17px;
    font-weight: 500;
    font-style: oblique;
    position: relative;
    bottom: 40px;
    padding-right: 25%;
    z-index: 0;
}

.lbl-container input, .lbl-container-pay input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 1.5px dashed green;
}

.lbl-container:hover input ~ .checkmark, 
.lbl-container-pay:hover input ~ .checkmark {
  background-color: #fff;
}

.lbl-container input:checked ~ .checkmark, 
.lbl-container-pay input:checked ~ .checkmark {
  background-color: green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.lbl-container input:checked ~ .checkmark:after, .lbl-container-pay input:checked ~ .checkmark:after {
  display: block;
}
.lbl-container .checkmark:after, .lbl-container-pay .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.phuong-thuc {
    border: 2px dashed #000;
    padding: 20px 50px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
